.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #646ce4;
  color: #fff;
  font-size: 16px;
  border: 1px solid #646ce4;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--timing-function) var(--animation-duration);

  &:hover {
    background-color: #fff;
    color: #646ce4;
  }
}
